@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--font-manrope);
	background-color: var(--color-white);
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

:root {
	--color-audiophile-orange: oklch(0.6792 0.1309 48.59);
	--color-audiophile-orange-light: oklch(0.8172 0.1055 49.7);
	--color-audiophile-gray: oklch(0.9581 0 0);
	--color-audiophile-gray-light: oklch(0.9851 0 0);
	--color-audiophile-divider: oklch(1 0 0 / 10.9%);
	--color-audiophile-black: oklch(0.2134 0 0);
	--product-gallery-grid-columns-md: 40% 1fr;
	--mobile-hero-bg: url("/images/home/mobile/image-header.jpg");
	--tablet-hero-bg: url("/images/home/tablet/image-header.jpg");
	--desktop-hero-bg: url("/images/home/desktop/image-header.jpg");
}

@theme inline {
	--font-manrope: var(--font-manrope);
	--color-audiophile-orange: var(--color-audiophile-orange);
	--color-audiophile-orange-light: var(--color-audiophile-orange-light);
	--color-audiophile-gray: var(--color-audiophile-gray);
	--color-audiophile-gray-light: var(--color-audiophile-gray-light);
	--color-audiophile-divider: var(--color-audiophile-divider);
	--color-audiophile-black: var(--color-audiophile-black);
}

@layer base {
	button {
		@apply hover:border-0 hover:outline-0;
	}
}

@layer components {
	.btn {
		@apply inline-flex h-[48px] items-center justify-center pt-[15px] pr-[29.5px] pb-[15px] pl-[31.5px] text-center text-[13px] leading-none font-bold tracking-[1px] uppercase inset-ring-1 inset-ring-black not-disabled:hover:cursor-pointer disabled:hover:cursor-auto;
	}

	.btn-accent {
		@apply bg-transparent;
	}

	.btn-orange {
		@apply bg-audiophile-orange not-disabled:hover:bg-audiophile-orange-light disabled:bg-audiophile-orange-light text-white inset-ring-0;
	}

	.btn-white {
		@apply bg-white text-black not-disabled:hover:bg-black not-disabled:hover:text-white not-disabled:hover:inset-ring-0;
	}

	.btn-transparent {
		@apply bg-transparent hover:bg-black hover:text-white;
	}

	.btn-black {
		@apply inset-0 bg-black text-white inset-ring-0 hover:bg-[#4C4C4C];
	}
}

@layer utilities {
	.body-text {
		@apply text-[15px] leading-[25px] font-medium tracking-[0px];
	}

	.overline-text {
		@apply text-[14px] leading-[19px] font-normal tracking-[10px] uppercase;
	}

	.subtitle-text {
		@apply text-[13px] leading-[25px] font-bold tracking-[1px] uppercase;
	}

	@media (min-width: 768px) {
		.gallery-image-grid {
			grid-template-areas:
				"one three"
				"two three";
		}
	}
}

@keyframes shimmer {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.animate-shimmer {
	position: relative;
	overflow: hidden;
	background: var(--color-gray-200);
}

.animate-shimmer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		transparent,
		var(--color-gray-50),
		transparent
	);
	animation: shimmer 0.5s linear infinite;
	z-index: 1;
}

@utility heading-1 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 56px;
	line-height: 58px;
}

@utility heading-2 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 40px;
	line-height: 44px;
}

@utility heading-3 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.15px;
	font-size: 32px;
	line-height: 36px;
}

@utility heading-4 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 28px;
	line-height: 38px;
}

@utility heading-5 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.7px;
	font-size: 24px;
	line-height: 33px;
}

@utility heading-6 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-size: 18px;
	line-height: 24px;
}

@utility main-container {
	width: 100%;
	padding-left: 24px;
	padding-right: 24px;

	@media (min-width: 768px) {
		padding-left: 39px;
		padding-right: 40px;
	}

	@media (min-width: 1280px) {
		padding-left: 165px;
		padding-right: 165px;
	}
}
